{% extends 'socialize/bases/bases.html' %}


{% load static %}

{% block title %}MAGIC SHOP{% endblock %}

{% block sites_css %}
<link rel="stylesheet" href="{% static 'socialize/styles/all_socialize.css' %}">
{% endblock %}

{% block main_headings %}
There are dreamers and there are planners,the planners make their dreams come true.
{% endblock %}

{% block header_contents %}
<p>Choose the best one for you!!</p>
{% endblock %}

{% block body %}
<section>
     <h2>Upcoming Events!</h2>
     <ol>
     {% for socialize_item in socialize %}
       {% include 'socialize/includes/socializes-item.html' with title=socialize_item.title image=socialize_item.image.url location='Bangladesh' group_name=socialize_item.group_name slug=socialize_item.slug %}
      {% endfor %}
     </ol>
     </section>
{% endblock %}
</body>
</html>
